.telefon-window {
  position: fixed;
  bottom: 20px; /* Поднимаем окно над кнопкой */
  right: 20px; /* Такое же как у кнопки */
  transform: none; /* Убираем центрирование */
  border: solid 2px black;
  width: 260px;
  height: 350px;
  background: white;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.close-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 10px;
}

.logo-window {
  font-size: 22px;
  color: #ecc630;
  padding-top: 15px;
  padding-left: 15px;
}
.logo-nav {
  height: 50px;
  background-color: black;
  border-radius: 13px 13px 0px 0px;
}
.popup-content {
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
  font-size: 18px;
  width: 260px;
}

.second-popup-content {
  text-align: center;
  font-size: 19px;
  width: 260px;
  margin-top: 15px;
}

.third-popup-content {
  width: 260px;
  text-align: center;
  margin: 20px 0 15px 0px;
  font-size: 19px;
}

.fourth-popup-content {
  width: 260px;
  font-size: 19px;
  text-align: center;
  margin: 20px 0 15px 0px;
}

.main-number-block {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 40px;
  background-color: #ecc630;
  border-radius: 10px;
  border: solid 2px black;
}

.section-about-us,
.section-services,
.section-stage,
.section-foto {
  margin: 50px 30px;
}

/* Заголовки */
.title-main {
  font-size: 35px;
  font-weight: 550;
  margin-bottom: 20px;
}

/* О НАС */
.about-us-text {
  font-size: 20px;
  line-height: 1.3;
}

/* СПИСОК УСЛУГ */
.container-services-list,
.container-stage-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style: none;
}

.block-list {
  text-align: center;
  max-width: 200px;
}

.icon-list {
  width: 100px;
  margin-bottom: 15px;
}

.text-list,
.text-list-stage {
  font-size: 20px;
  line-height: 1.3;
}

.text-list-stage {
  font-size: 23px;
  width: 140px;
}

.title-foto {
  margin-bottom: 30px;
}

.foto {
  max-width: 440px;
  max-height: 340px;
  object-fit: cover;
}

.container-foto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
}

.order-section {
  display: flex;
  justify-content: center;
}
.evakuator-button {
  font-size: 25px;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecc630;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  border: solid 2px black;
}

.reviews-section {
  margin: 60px auto;
  max-width: 600px;
  text-align: center;
}

.reviews-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 25px;
}

.slide.active {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.review-text {
  max-width: 400px;
  font-size: 20px;
  line-height: 1.4;
  text-align: start;
  margin-left: 25px;
}

.slider-controls {
  margin-top: 15px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 32px;
  border: none;
  cursor: pointer;
  user-select: none;
  color: #333;
}

.arrow.prev {
  left: 0px;
}

.arrow.next {
  right: 0px;
}

.telefon-window.active {
  display: block;
}

.telefon-pop-up-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  background: #ecc630;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}

.telegram-icon {
  width: 40px;
}

.whatsapp-icon {
  width: 50px;
  margin-right: 15px;
}

.social-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.icon-popup {
  margin-top: 5px;
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-inside {
  margin-top: 5px;
  margin-right: 10px;
  color: black;
  width: 25px;
  height: 25px;
}

@media (max-width: 1350px) {
  .foto {
    max-width: 400px;
    max-height: 300px;
  }
}

@media (max-width: 1230px) {
  .foto {
    max-width: 350px;
    max-height: 250px;
  }
}

@media (max-width: 1080px) {
  .foto {
    max-width: 300px;
    max-height: 200px;
  }
}

@media (max-width: 950px) {
  .icon-list {
    width: 70px;
  }
  .text-list {
    font-size: 16px;
    width: 130px;
  }
  .foto {
    max-width: 300px;
    max-height: 300px;
  }
  .container-foto {
    grid-template-columns: repeat(2, 300px);

    text-align: center;
  }
  .text-list-stage {
    font-size: 16px;
    width: 130px;
  }
}

@media (max-width: 670px) {
  .text-list {
    font-size: 14px;
    width: 110px;
  }
  .text-list-stage {
    font-size: 14px;
    width: 110px;
  }

  .icon-list {
    width: 50px;
  }

  .foto {
    max-width: 250px;
    height: 200px;
  }
  .container-foto {
    grid-template-columns: repeat(2, 250px);
    text-align: center;
  }
  .reviews-title {
    text-align: start;
    margin-left: 30px;
  }
  .avatar {
    width: 70px;
    height: 70px;
  }

  .review-text {
    width: 330px;
    font-size: 16px;
  }
  .arrow.prev {
    left: 55px;
  }

  .arrow.next {
    right: 50px;
  }
}
@media (max-width: 590px) {
  .text-list {
    font-size: 20px;
    width: 200px;
  }
  .text-list-stage {
    font-size: 20px;
    width: 200px;
  }
  .foto {
    max-width: 200px;
    height: 150px;
  }
  .container-foto {
    grid-template-columns: repeat(2, 200px);
  }

  .avatar {
    width: 50px;
    height: 50px;
  }

  .review-text {
    width: 300px;
    font-size: 14px;
  }
  .arrow.prev {
    left: 25px;
  }

  .arrow.next {
    right: 25px;
  }
}
@media (max-width: 510px) {
  .reviews-title {
    font-size: 25px;
  }

  .text-list {
    font-size: 20px;
    width: 150px;
  }
  .text-list-stage {
    font-size: 20px;
    width: 150px;
  }
  .title-main {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .avatar {
    width: 40px;
    height: 40px;
    margin-left: 30px;
  }

  .review-text {
    width: 250px;
    font-size: 14px;
  }
  .arrow.prev {
    left: 25px;
  }

  .arrow.next {
    right: 25px;
  }
}

@media (max-width: 430px) {
  .foto {
    max-width: 170px;
    height: 120px;
  }
  .container-foto {
    grid-template-columns: repeat(2, 170px);
  }
  .text-list {
    font-size: 16px;
    width: 120px;
  }
  .text-list-stage {
    font-size: 16px;
    width: 120px;
  }
}

@media (max-width: 380px) {
  .reviews-title {
    font-size: 20px;
  }
  .avatar {
    width: 35px;
    height: 35px;
    margin-left: 20px;
  }

  .review-text {
    width: 220px;
    font-size: 12px;
  }
  .arrow.prev {
    left: 5px;
  }

  .arrow.next {
    right: 5px;
  }
}

// .telefon-window {
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   border: solid 2px black;
//   width: 260px;
//   height: 350px;
//   background: white;
//   border-radius: 15px;
//   display: none;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   z-index: 1000;
//   transition: opacity 0.3s ease, visibility 0.3s ease;
// }

// .telefon-window.active {
//   display: block;
// }

// .close-btn {
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
//   background-color: white;
//   color: black;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   top: 15px;
//   right: 10px;
// }

// .logo-window {
//   font-size: 22px;
//   color: #ecc630;
//   padding-top: 15px;
//   padding-left: 15px;
// }

// .logo-nav {
//   height: 50px;
//   background-color: black;
//   border-radius: 13px 13px 0px 0px;
// }

// .popup-content,
// .second-popup-content,
// .third-popup-content,
// .fourth-popup-content {
//   text-align: center;
//   width: 260px;
// }

// .popup-content {
//   margin-top: 15px;
//   font-weight: 600;
//   font-size: 18px;
// }

// .second-popup-content,
// .third-popup-content,
// .fourth-popup-content {
//   font-size: 19px;
//   margin-top: 15px;
// }

// .third-popup-content {
//   margin: 20px 0 15px 0px;
// }

// .fourth-popup-content {
//   text-align: start;
//   margin-left: 10px;
// }

// .main-number-block {
//   margin: auto;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 220px;
//   height: 40px;
//   background-color: #ecc630;
//   border-radius: 10px;
//   border: solid 2px black;
// }

// .telefon-pop-up-button {
//   position: fixed;
//   right: 30px;
//   bottom: 30px;
//   width: 60px;
//   height: 60px;
//   background: #ecc630;
//   border-radius: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
//   z-index: 999;
// }

// .telegram-icon {
//   width: 40px;
// }

// .whatsapp-icon {
//   width: 50px;
//   margin-right: 15px;
// }

// .social-block {
//   display: flex;
//   flex-direction: row-reverse;
//   justify-content: center;
//   align-items: center;
// }

// .icon-inside {
//   margin-right: 10px;
// }

// .reviews-section {
//   margin: 60px auto;
//   max-width: 600px;
//   text-align: center;
// }

// .reviews-title {
//   font-size: 32px;
//   font-weight: bold;
//   margin-bottom: 30px;
// }

// .slider {
//   position: relative;
//   overflow: hidden;
// }

// .slides {
//   display: flex;
//   transition: transform 0.5s ease;
// }

// .slide {
//   flex: 0 0 100%;
//   display: none;
//   justify-content: center;
//   align-items: center;
//   flex-direction: row;
//   margin-top: 25px;
// }

// .slide.active {
//   display: flex;
// }

// .avatar {
//   width: 100px;
//   height: 100px;
//   border-radius: 50%;
//   object-fit: cover;
//   display: flex;
//   align-items: center;
//   margin-left: 25px;
// }

// .review-text {
//   max-width: 400px;
//   font-size: 20px;
//   line-height: 1.4;
//   text-align: start;
//   margin-left: 25px;
// }

// .slider-controls {
//   margin-top: 15px;
// }

// .dot {
//   height: 10px;
//   width: 10px;
//   margin: 0 6px;
//   background-color: #bbb;
//   border-radius: 50%;
//   display: inline-block;
//   cursor: pointer;
// }

// .dot.active {
//   background-color: #333;
// }

// .arrow {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   background-color: transparent;
//   font-size: 32px;
//   border: none;
//   cursor: pointer;
//   user-select: none;
//   color: #333;
// }

// .arrow.prev {
//   left: 0px;
// }

// .arrow.next {
//   right: 0px;
// }
