header {
  background-color: #262526;
}

.main-header-article {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.left-section {
  margin-left: 45px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.header-image {
  width: 700px;
  height: 500px;
  margin-right: 25px;
}

.first-text {
  font-size: 75px;
  font-weight: 800;
  width: 550px;
  color: white;
}

.second-text {
  margin: 40px 0 60px 0;
  font-size: 22px;
  line-height: 1.6;
  width: 450px;
  color: white;
}

.evakuator-button {
  font-size: 25px;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecc630;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  border: solid 2px black;
}





.right-section {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 200px;
}


/* Контейнер под канвас */
.three-container {
width: 100%;
  height: clamp(260px, 32vw, 420px);
  position: relative;

  border-radius: 20px;
  overflow: hidden;
  /* временно: граница для отладки */
  /* outline: 1px dashed rgba(255,255,255,0.1); */
}

/* Сам канвас */
.three-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: scale(1.9);
}





@media (max-width: 1350px) {
  header {
    height: 504px;
  }
  .header-image {
    margin-top: 50px;
    width: 600px;
    height: 420px;
  }
}

@media (max-width: 1230px) {
  .header-image {
    margin-top: 70px;
    width: 500px;
    height: 360px;
  }
}

@media (max-width: 1100px) {
  header {
    height: 804px;
  }

  .main-header-article {
    flex-direction: column;
    align-items: center;
  }

  .header-image {
    margin-top: 20px;
    width: 600px;
    height: 420px;
  }
}

@media (max-width: 580px) {
  header {
    height: 650px;
  }

  .header-image {
    width: 400px;
    height: 300px;
  }
  .first-text {
    font-size: 50px;
    width: 300px;
  }

  .second-text {
    font-size: 20px;
    margin: 20px 0 40px 0;
    width: 400px;
  }
}

@media (max-width: 430px) {
  header {
    height: 700px;
  }
  .left-section{
    margin-left: 150px;
  }

  .header-image {
    width: 320px;
    height: 240px;
    margin-left: 40px;
  }

  .second-text {
    font-size: 18px;

    width: 340px;
  
  }
  .three-container canvas {
  position: absolute;
  top: -120px;
  left: -80px;

 

}


}













